doctype html
html
  head
    title sala cine
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js")
    script(type="text/javascript",src='/socket.io/socket.io.js')
    script(type="text/javascript",src='javascripts/cliente.js')
  body
    #prueba
    #sala
    block content